<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <meta charset="utf-8">
    <title>Workload Management App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-5.1.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'data_tables/dataTables.bootstrap5.min.css' %}">  
    <link rel="stylesheet" type="text/css" href="{% static 'landlord/splash_style.css' %}"> 

    <script src="{% static 'landlord/slide_show_script.js' %}"></script>
  </head>
  <body>


   {% include './app_name_banner.html' %}

  <div class="banner_container">
    <img class ="banner_image" src="{% static 'landlord/splash-banner.png' %}" alt="splash image"/>
  </div>


<div class="wrapper">
  <div class="key_features_container">
    
    <div class="key_feature">
      <img src="{% static 'bootstrap-icons-1.5.0/wifi-coloured.svg' %}" alt="Icon 1">
      <p> Manage common academic administration needs such as teaching workload balancing and programme-level accreditation 
          <span class="highlight_text">from your browser</span>. No installation required. <span class="highlight_text">Free of charge</span>.</p>
    </div>

    <div class="key_feature">
      <img src="{% static 'bootstrap-icons-1.5.0/bar-chart-fill-coloured.svg' %}" alt="Icon 2">
      <p>Easily keep track of department-level <span class="highlight_text">teaching workload</span>, with unlimited number of lecturers and courses,
        with <span class="highlight_text">customizable teaching assignment types</span>, and across many years. </p>
    </div>

    <div class="key_feature">
      <img src="{% static 'bootstrap-icons-1.5.0/graph-up-coloured.svg' %}"  alt="Icon 3">
      <p>Ease the <span class="highlight_text">accreditation process</span>. Define programme-level <span class="highlight_text">graduate attributes</span>, 
        single course-level <span class="highlight_text">learning outcomes</span>,
        and keep track of their performance measures over time, including <span class="highlight_text">surveys</span> and exam results.</p>
    </div>
  </div>
</div>

<div class="detail-feature-container ">
    
    <!-- Slideshow Section -->
    <div class="slideshow-wrapper">
        <div class="slideshow-container">
            <div class="slide active">
                <img src="{% static 'landlord/workload_summary.jpg' %}" alt="Slide 1">
            </div>
            <div class="slide">
                <img src="{% static 'landlord/workload_table.png' %}" alt="Slide 2">
            </div>
            <div class="slide">
                <img src="{% static 'landlord/workload_table_by_course.jpg' %}" alt="Slide 3">
            </div>
            <div class="slide">
                <img src="{% static 'landlord/CLO-SLO-mapping.jpg' %}" alt="Slide 4">
            </div>
            <div class="slide">
                <img src="{% static 'landlord/accreditation_report_results-slo.jpg' %}" alt="Slide 5">
            </div>
            <div class="slide">
                <img src="{% static 'landlord/survey_overall_results.jpg' %}" alt="Slide 6">
            </div>
            
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>

        <!-- New Dot Navigation Indicators -->
        <div class="dots-container">
            <span class="dot" onclick="currentSlide(0)"></span>
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
        </div>
    </div>

    <!-- Text Section -->
    <div class="detail-feature-text-container-1">
        <h2>Accreditation features</h2>
        <p>Handles <span class=highlight_text>mapping between SO and CLO</span>, survey measures for both SLO
           and CLo and direct preformance measures (e.g., exam questions) over the years.
          <span class=highlight_text>Automatically generates SLO achievement report</span> for a given period.</p>
    </div>
    <div class="detail-feature-text-container-2">
        <h2>Workload features</h2>
        <p>Handles <span class=highlight_text>multiple workloads overt the years</span>, with summary for lecturers
          and courses.
          <span class=highlight_text>Customizable teaching assignment types (standard lectures, studios, supervision, etc)</span> 
          applicable to all workloads in the department for a given period.</p>
    </div>
</div>

<div class="button-container">
<a href="https://eabworkload.org/docs/index.html" class="docs-button">Read full documentation</a>


</div> 



{% include './footer.html' %}
  </body>
</html>



