<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <meta charset="utf-8">
    <title>Workload Management App</title>          
  </head>
  <body>
  <div class="top_bar">
      Workload application
  </div>
  <div>
    <form action="" method="post">
      {% csrf_token %}
          {% if form.email.errors %}
            {{ form.email.errors }}
          {% endif %}
          <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Reset password">
      </form>
  </div>
  </body>
</html>
