<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <meta charset="utf-8">
    <title>Workload Management App</title>
    {% include './headers.html' %}     
    <link rel="stylesheet" type="text/css" href="{% static 'workload_app/style_accreditation.css' %}">     
  </head>
  <body>
    {% include './top_bar.html' %}
    <div class="overall_container" id="overall_container_dept_page">
      <h1>Accreditation report for {{ programme_name }}</h1>
      <h4>Cohorts evaluated: matriculated between {{ start_year }} and {{ end_year }}</h3>
      <hr>
      <div class="accr_report_overall_summary">
        <div class="accr_report_overall_summary_item"> <!--Table container-->
          <table id="OverallMLOSLOMAPPINGS" class="workload_tables table table-striped">
            <thead class="table-dark">
            <tr>
              <th colspan= "{{ number_of_slo_plus_one }}" class="overall_header">Overall Modules-SLO mappings for period</th>
            </tr>
            <tr>
              <th class="secondary_header"> </th>
              <th colspan= "{{ number_of_slo }}" class="secondary_header">SLO</th>
            </tr>
            <tr>
              <th class="secondary_header"> Modules </th>
              {% for item in big_mlo_slo_table.0.slo_identifiers %}
              <th> {{ item }}</th>
              {% endfor %}
            </tr>
            </thead>
            <tbody>
              {% for row in big_mlo_slo_table %}
              <tr>
              <td> {{ row.module_code }} </td>
                {% for icon in row.icons %}
                <td> <img src="{% static 'bootstrap-icons-1.5.0/' %}{{ icon }}" alt="edit"/> </td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
            <thead class="table-dark">
              <tr>
                <th class="secondary_header"> Total # MLO mapped </th>
                {% for item in big_mlo_slo_table_totals_n_mlo %}
                <th class="secondary_header"> {{ item }}</th>
                {% endfor %}
              </tr>
              <tr>
                <th class="secondary_header"> Total strength </th>
                {% for item in big_mlo_slo_table_totals_strengths %}
                <th class="secondary_header"> {{ item }}</th>
                {% endfor %}
              </tr>
            </thead>
          </table>
          </div><!--end of table container-->
          <div class="accr_report_overall_summary_item">
            <canvas id="mlo_slo_summary_charts" style="min-width:600px;"></canvas>
            {{ big_mlo_slo_table_totals_strengths|json_script:"big_mlo_slo_table_totals_strengths" }}
            {{ big_mlo_slo_table_totals_n_mlo|json_script:"big_mlo_slo_table_totals_n_mlo" }}
            {{ slo_identifiers|json_script:"slo_identifiers" }}
            <script src="{% static   'workload_app/mlo_slo_mapping_summary.js' %}"></script>
          </div>
      </div><!--end of flex container for overall summary part-->
      <div class="accr_report_overall_summary_item"><!-- Container of attention table-->
        <table id="AttentionScores" class="workload_tables table">
          <thead class="table-dark">
          <tr>
            <th colspan= "{{ overall_colpsan }}" class="overall_header">Attention scores for the period</th>
          </tr>
          <tr>
            <th class="secondary_header" colspan="2"> </th>
            <th colspan= "{{ num_years_colspan }}" class="secondary_header">Matriculation year</th>
          </tr>
          <tr>
            <th class="secondary_header" > SLO </th>
            <th class="secondary_header" >  </th>
            {% for item in years_to_display %}
            <th> {{ item }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
            {% for slo_item in slo_measures %}
            <tr style="border-bottom-color: black;">
            <td rowspan="4">
              {{ slo_item.slo_letter }}) {{ slo_item.slo_desc }}
            </td>
            </tr>
            
            <tr>
              <td>Direct measures</td>
              {% for direct_att_score, direct_color in slo_item.zipped_attn_scores_direct %}
              <td style="background-color: {{ direct_color }};">
                {{ direct_att_score|floatformat }}
              </td>
              {% endfor %}
            </tr>
            <tr>
              <td>MLO survey measures</td>
              {% for mlo_att_score,mlo_att_color in slo_item.zipped_attn_scores_mlo_survey %}
              <td style="background-color: {{ mlo_att_color }};">
                {{ mlo_att_score|floatformat }}
              </td>
              {% endfor %}
            </tr>
            <tr style="border-bottom-color: black;">
              <td>SLO survey meausres</td>
              {% for slo_att_score,slo_att_colour in slo_item.zipped_attn_scores_slo_surveys %}
              <td style="background-color: {{ slo_att_colour }};">
                {{ slo_att_score|floatformat }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
          </table>
      </div>
      <hr>
      {% for slo_info in slo_measures %}
      <h2>SLO {{slo_info.slo_letter}}. {{ slo_info.slo_full_description }} </h2>
        <div class="slo_information">
              <div class="slo_summary">
                <div class="slo_summary_item">
                        {% if slo_info.mlo_mappings|length > 0 %}
                                <table id="SLO_MLOMappings-{{slo_info.slo_id}}" class="workload_tables table table-striped">
                                  <thead class="table-dark">
                                  <tr>
                                    <th colspan="{{ slo_info.colspan_param }}" style="background-color: darkgrey;">MLO mappings</th>
                                  </tr>
                                    <tr>
                                      <th>  </th> 
                                      {% for year in slo_info.years_for_tables %}
                                        <th> {{ year }} </th>
                                      {% endfor %}
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for row in slo_info.mlo_mappings %}
                                      <tr>
                                        <td> {{ row.module_code }} </td>
                                        {% for item in row.icons %}
                                              <td> <img src="{% static 'bootstrap-icons-1.5.0/' %}{{ item }}" alt="edit"/> </td>
                                        {% endfor %}
                                      </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                          {% else %} <!-- no MLO direct mappings were found -->
                                  <p> No mapped MLO were reported for this SLO </p>
                          {% endif %}
                </div><!-- end of summaryitem-->
                <div class="slo_summary_item">
                  <canvas id="slo_measures_chart-{{slo_info.slo_id}}"></canvas>
                </div>
              </div><!-- End of slo summary div-->
              <div class="slo_measures_container">
                        <div class = "slo_measures_item">
                            {% if slo_info.slo_surveys|length > 0 %}
                            <table id="SLO_Survey-{{slo_info.slo_id}}" class="workload_tables table table-striped">
                              <thead class="table-dark">
                              <tr>
                                <th colspan="4" style="background-color: darkgrey;">SLO survey measures</th>
                              </tr>
                              <tr>
                                  <th> Date </th> 
                                  <th> Survey</th>
                                  <th> Question </th>
                                  <th> Achievement score (%) </th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for survey in slo_info.slo_surveys %}
                                    <tr>
                                        <td>{{ survey.date }}</td>
                                        <td>{{ survey.survey }}</td>
                                        <td>{{ survey.question }}</td>
                                        <td>{{ survey.percent_positive|floatformat }}%</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                          {% else %} <!-- no SLO survey was found -->
                              <p> No SLO survey were reported for this SLO </p>
                          {% endif %}
                        </div>

                        <div class="slo_measures_item">
                            {% if slo_info.mlo_direct_measures|length > 0 %}

                          <table id="SLO_MLOMeasures-{{slo_info.slo_id}}" class="workload_tables table table-striped">
                            <thead class="table-dark">
                            <tr>
                              <th colspan="{{ slo_info.colspan_param }}" style="background-color: darkgrey;">MLO direct measures</th>
                            </tr>
                              <tr>
                                <th>  </th> 
                                {% for year in slo_info.years_for_tables %}
                                  <th> {{ year }} </th>
                                {% endfor %}
                              </tr>
                            </thead>
                            <tbody>
                              {% for row in slo_info.mlo_direct_measures %}
                                <tr>
                                  {% for item in row %}
                                    {% if forloop.counter0 == 0 %}
                                      <td> {{ item }} </td>
                                    {% else %}
                                      {% if item > 0 %}
                                        <td> {{ item|floatformat }}% </td>
                                        {% else %}
                                        <td>  </td>
                                      {% endif %}
                                    {% endif %}
                                  {% endfor %}
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                          {% else %} <!-- no MLO direct measures were found -->
                              <p> No direct measures of mapped MLO were reported for this SLO </p>
                    
                          {% endif %}
                        </div><!--end of slo measures item-->
                        <div class="slo_measures_item">
                          {% if slo_info.mlo_slo_survey_table_rows|length > 0 %}
                            <table id="SLO_MLOSurveyMeasures-{{slo_info.slo_id}}" class="workload_tables table table-striped">
                                <thead class="table-dark">
                                <tr>
                                  <th colspan="{{ slo_info.colspan_param }}" style="background-color: darkgrey;">MLO survey measures</th>
                                </tr>
                                <tr>
                                    <th>  </th> 
                                    {% for year in slo_info.years_for_tables %}
                                      <th> {{ year }} </th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                  {% for row in slo_info.mlo_slo_survey_table_rows %}
                                    <tr>
                                      {% for item in row %}
                                        {% if forloop.counter0 == 0 %}
                                          <td> {{ item }} </td>
                                        {% else %}
                                          {% if item > 0 %}
                                            <td> {{ item|floatformat }}% </td>
                                            {% else %}
                                            <td>  </td>
                                          {% endif %}
                                        {% endif %}
                                      {% endfor %}
                                    </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
        
                          {% else %}
                            <p> No MLO survey measures for a mapped MLO were reported for this SLO </p>
                          {% endif %}
                        </div><!-- end of slo emausre item-->
              </div><!--End of slo emasures container-->
        </div><!-- End of SLO information overall container-->
        <hr>
      {% endfor %}
      {{ all_slo_data_for_plot|json_script:"all_slo_data_for_plot" }} 
      {{ all_slo_ids|json_script:"all_slo_ids" }}
      <script src="{% static   'workload_app/slo_measures_summary_chart.js' %}"></script>
    </div><!--overall container-->
{% include './footer.html' %}
</body>
</html>