<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <meta charset="utf-8">
    <title>Workload Management App</title>
    {% include './headers.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'workload_app/style_department.css' %}">
  </head>
  <body>
    {% include './top_bar.html' %}
    <div class="buttons_container">
      <a href="/workload_app/workloads_index" class="btn btn-outline-success" role="button">
        <img src="{% static 'bootstrap-icons-1.5.0/chevron-left.svg' %}" alt="edit"> Back to index of workloads</a>  
    </div><!-- end of buttons container-->
    <div class="overall_container" id="overall_container_dept_page">
        <h1>Department Analysis</h1>
        Department of {{ dept_name }}
        <br>
        <br>
        <div class="tables-container">
            <div class="individual_table">
              <table class="settings_tables table table-bordered">
                <thead>
                <tr>
                  <th colspan="3">Programmes offered</th>
                </tr>
                <tr>
                  <th></th>
                  <th> Programme name</th>
                  <th> Sub-programme name</th>
                </tr>
                </thead>
                <tbody>
                  {% for prog in prog_offered %}
                    <tr>
                      <td rowspan="{{ prog.n_subprogrammes_rowspan }}"><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#Edit{{ prog.programme_id }}DetailsModal">
                        <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"></td>
                      <td rowspan="{{ prog.n_subprogrammes_rowspan }}" style="text-align: left; vertical-align: middle;">{{ prog.programme_name }}
                        <br><a href="/workload_app/accreditation/{{ prog.programme_id }}" class="btn btn-outline-success" role="button">
                          <img src="{% static 'bootstrap-icons-1.5.0/chevron-right.svg' %}" alt="edit">View accreditation</a>  
                      </td>
                      {% if prog.n_subprogrammes > 0 %}
                        <td> {{ prog.sub_programmes.0 }} </td>
                      {% else %}
                        <td>  </td>
                      {% endif %}
                    </tr>
                    {% if prog.n_subprogrammes > 1 %}
                        {% for sub_prog in prog.sub_programmes %}
                          {% if forloop.counter > 1 %}
                          <tr>
                            <td>{{ sub_prog }}</td>
                          </tr>
                          {% endif %}
                        {% endfor %}
                    {% endif %}
                  {% endfor %}
                  <tr>
                    <td colspan="3">
                      <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#NewProgrammeModal">
                        Add/Remove programmes..
                      </button>
                      <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#NewSubProgrammeModal">
                        Add/Remove sub-programmes..
                      </button>
                    </td>
                  </tr>
                </tbody>
                </table>
              </div>
              <div class="individual_table">
                <table class="settings_tables table table-bordered">
                  <thead>
                  <tr>
                    <th colspan="3">Teaching workloads</th>
                  </tr>
                  <tr>
                    <th>Year</th>
                    <th> Official workload</th>
                    <th> Draft workloads </th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for year in dept_wls %}
                    <tr>
                      <td> {{ year.academic_year }}</td>
                      <td> 
                        {% for wl_id in year.official_wl_ids %}
                        <a href="/workload_app/scenario_view/{{ wl_id }}" class="btn btn-outline-success" role="button">
                          <img src="{% static 'bootstrap-icons-1.5.0/chevron-right.svg' %}" alt="edit">View workload</a>  
                        {% endfor %}
                      </td>
                      <td> 
                        {% for wl_id in year.draft_wl_ids %}
                        <a href="/workload_app/scenario_view/{{ wl_id }}" class="btn btn-outline-secondary" role="button">
                          <img src="{% static 'bootstrap-icons-1.5.0/chevron-right.svg' %}" alt="edit">View draft</a>  
                        {% endfor %}
                      </td>
                    </tr>
                    {% endfor %}
                    
                  </tbody>
                </table>
              </div>


              <div class = "individual_table">
                <!--Module types table-->
                <table class="settings_tables table table-striped table-sm">
                  <thead class="table-dark table-sm">
                  <tr> 
                      <th>Module types</th>
                  </tr>
                  <tr>
                    <th>Name</th>
      
                  </tr>
                  </thead>
                  <tbody>
      
                  {% for entry in module_type_table %}
                  <tr>
                      <td>{{ entry.type_name }}</td>       
                  </tr>
                  {% endfor %}
                  <tr> 
                    <td> <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#ManageModuleTypeModal">
                      Add/Remove types of modules...
                      </button>
                    </td>
                  </tr>
                  </tbody>
              </table>
            </div>

      </div>
        <hr>
        <div class = "report-select-form-container">
          <h2>Prgramme Analysis by academic years</h2>
          <br>
          <form action="{% url 'workload_app:department' dept_id %}" method="post">
            {% csrf_token %}
            {{ acad_year_form.as_p }}
            <button type="submit" class="btn btn-primary">Generate report</button>
          </form>  
          <hr>
        </div>
        <div class="overall-department-report-container">
          {{ no_show_message }}
          {% if workload_there %}
              <h3>Academic year {{ acad_year }} (<a href="/workload_app/scenario_view/{{ workload_id }}">see workload</a>)</h3>
                {% for table in tables_for_year %}
                  <div style="background-color:{{ table.colour_scheme.darkest }};" class="programme-divider-title" >
                    {{ table.table_with_hours.programme_name }} - Main programme
                  </div>

                <div class="tables-container">                  
                  <div class="individual_table"> <!-- main hourly table of programme-->
                    <table id="TABLE_{{ workload_id }}-{{ table.prog_id }}" class="workload_tables table table-striped">
                      <thead class="table-dark">
                      <tr> 
                          <th colspan=6 style="background-color:{{ table.colour_scheme.darkest }};">{{ table.table_with_hours.programme_name }}, {{ acad_year }}</th>
                      </tr>
                      <tr> 
                        <th colspan=3 style="background-color:Gainsboro; color:black;"> Semester 1 </th>
                        <th colspan=3 style="background-color:Gainsboro; color:black;"> Semester 2 </th>
                      </tr>
                      <tr>
                        <th style="background-color:{{ table.colour_scheme.medium }};"> </th> 
                        <th style="background-color:{{ table.colour_scheme.medium }};"> Module </th>
                        <th style="background-color:{{ table.colour_scheme.medium }};"> Hours </th>
                        <th style="background-color:{{ table.colour_scheme.medium }};"> </th> 
                        <th style="background-color:{{ table.colour_scheme.medium }};"> Module </th>
                        <th style="background-color:{{ table.colour_scheme.medium }};"> Hours </th>
                      </tr>
                      </thead>
                      <tbody>
                        {% for row in table.table_with_hours.table_rows_with_mods_and_hours %}
                        <tr>
                          {%if row.mod_code_sem_1|length == 0 %}
                            <td></td>
                          {% else %}
                            <td><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#EditModule{{ row.regularized_mod_code_sem_1 }}Modal{{ workload_id }}">
                              <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"> </button></td>
                          {% endif %}
                          <td title="{{ row.mod_title_sem_1 }}"> <a href="/workload_app/module/{{ row.mod_code_sem_1 }}">{{ row.mod_code_sem_1 }}</a> </td>
                          <td> {{ row.hours_mod_sem_1 }}</td>
                          {%if row.mod_code_sem_2|length == 0 %}
                            <td></td>
                          {% else %}
                            <td><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#EditModule{{ row.regularized_mod_code_sem_2 }}Modal{{ workload_id }}">
                            <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"> </button></td>
                          {% endif %}
                          <td title="{{ row.mod_title_sem_2 }}"> <a href="/workload_app/module/{{ row.mod_code_sem_2 }}">{{ row.mod_code_sem_2 }}</a></td>
                          <td> {{ row.hours_mod_sem_2 }}</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                      <thead class="table-dark" >
                        <tr>
                          <th style="background-color: grey;" colspan="2">Total hours sem 1</td>
                          <th style="background-color: grey;">{{ table.table_with_hours.total_hours_sem_1 }}</td>
                          <th style="background-color: grey;" colspan="2">Total hours sem 2</td>
                          <th style="background-color: grey;">{{ table.table_with_hours.total_hours_sem_2 }}</td>
                        </tr>
                        </thead>
                        <tbody>
                          <tr> 
                            <td colspan="6">Other modules (not offered)</td>
                          </tr>
                          <tr> 
                            <td colspan=3 style="background-color:Gainsboro; color:black;"> Semester 1 </th>
                            <td colspan=3 style="background-color:Gainsboro; color:black;"> Semester 2 </th>
                          </tr>
                          {% for row in table.table_with_hours.unused_modules %}
                          <tr>
                            {%if row.edit_form_unused_mod_sem_1 == "" %}
                              <td></td>
                            {% else %}
                              <td><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#EditModule{{ row.regularized_unused_mod_code_sem_1 }}Modal{{ workload_id }}">
                              <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"> </button></td>
                            {% endif %}
                            <td colspan="2"> {{ row.unused_mod_code_sem_1 }} </td>
                            {%if row.edit_form_unused_mod_sem_2 == "" %}
                              <td></td>
                            {% else %}
                              <td><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#EditModule{{ row.regularized_unused_mod_code_sem_2 }}Modal{{ workload_id }}">
                              <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"> </button></td>
                            {% endif %}
                            <td colspan="2"> {{ row.unused_mod_code_sem_2 }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                  </div><!-- end of main hourly table of programme-->

                  <div class="individual_table"> <!-- module type analysis table for programme-->
                    <table id="TABLE_{{ workload_id }}-{{ table.prog_id }}-modtypes" class="workload_tables table table-striped">
                        <thead class="table-dark" id="workload_module_table_id">
                        <tr> 
                            <th colspan=5 style="background-color:{{ table.colour_scheme.darkest }};">{{ table.table_with_mod_types.programme_name }}, {{ acad_year }} Module types</th>
                        </tr>
                        <tr>
                          <th style="background-color:Gainsboro; color:black;"></th>
                          <th colspan=2 style="background-color:Gainsboro; color:black;"> Semester 1 </th>
                          <th colspan=2 style="background-color:Gainsboro; color:black;"> Semester 2 </th>
                        </tr>
                        <tr> 
                          <th style="background-color:{{ table.colour_scheme.medium }};"> Module type</th>
                          <th style="background-color:{{ table.colour_scheme.medium }};"> # mods </th>
                          <th style="background-color:{{ table.colour_scheme.medium }};"> hours </th>
                          <th style="background-color:{{ table.colour_scheme.medium }};"> # mods </th>
                          <th style="background-color:{{ table.colour_scheme.medium }};"> hours </th>
                        </tr>
                        </thead>
                        <tbody>
                          {% for row in table.table_with_mod_types.table_rows_with_types_and_numbers %}
                            <tr>
                              <td> {{ row.mod_type }} </td>
                              <td> {{ row.no_mods_sem_1 }}</td>
                              <td> {{ row.hours_assigned_sem_1 }}</td>
                              <td> {{ row.no_mods_sem_2 }}</td>
                              <td> {{ row.hours_assigned_sem_2 }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        <thead class="table-dark" >
                          <tr>
                            <th style="background-color: grey;">Total</td>
                            <th style="background-color: grey;">{{ table.table_with_mod_types.total_num_mods_sem_1 }}</td>
                            <th style="background-color: grey;">{{ table.table_with_mod_types.total_hours_assigned_sem_1 }}</td>
                            <th style="background-color: grey;">{{ table.table_with_mod_types.total_num_mods_sem_2 }}</td>
                            <th style="background-color: grey;">{{ table.table_with_mod_types.total_hours_assigned_sem_2 }}</td>
                          </tr>
                        </thead>
                      </table>
                  </div> <!-- end of module type analysis table for programme-->
                </div><!-- Container flex-->
                {% if table.hourly_tables_with_subprogrammes|length > 0 %}
                  <div style="background-color:{{ table.colour_scheme.darkest }};" class="programme-divider-title" >
                    {{ table.table_with_hours.programme_name }} - sub programmes
                  </div>
                {% endif %}
                <div class="tables-container"> <!--Second flex container for sub-programmes-->
                    {% for sub_prg_table in table.hourly_tables_with_subprogrammes %}
                      <div class="individual_table"> <!-- Hourly tables for sub-programmes-->
                        <table id="TABLE_{{ workload_id }}-{{ table.prog_id }}" class="workload_tables table table-striped">
                          <thead class="table-dark">
                          <tr> 
                              <th style="background-color:{{ table.colour_scheme.darkest }};" colspan=6>{{ table.table_with_hours.programme_name }}, {{ acad_year }}</th>
                          </tr>
                          <tr> 
                            <th style="background-color:{{ table.colour_scheme.lightest }};" colspan=6>{{ sub_prg_table.programme_name }} </th>
                        </tr>
                          <tr> 
                            <th colspan=3 style="background-color:Gainsboro; color:black;"> Semester 1 </th>
                            <th colspan=3 style="background-color:Gainsboro; color:black;"> Semester 2 </th>
                          </tr>
                          <tr>
                            <th style="background-color:{{ table.colour_scheme.medium }};"> </th> 
                            <th style="background-color:{{ table.colour_scheme.medium }};"> Module </th>
                            <th style="background-color:{{ table.colour_scheme.medium }};"> Hours </th>
                            <th style="background-color:{{ table.colour_scheme.medium }};"> </th> 
                            <th style="background-color:{{ table.colour_scheme.medium }};"> Module </th>
                            <th style="background-color:{{ table.colour_scheme.medium }};"> Hours </th>
                          </tr>
                          </thead>
                          <tbody>
                            {% for row in sub_prg_table.table_rows_with_mods_and_hours %}
                            <tr>
                              {%if row.mod_code_sem_1|length == 0 %}
                                <td></td>
                              {% else %}
                                <td><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#EditModule{{ row.regularized_mod_code_sem_1 }}Modal{{ workload_id }}">
                                  <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"> </button></td>
                              {% endif %}
                              <td title="{{ row.mod_title_sem_1 }}"> <a href="/workload_app/module/{{ row.mod_code_sem_1 }}">{{ row.mod_code_sem_1 }}</a> </td>
                              <td> {{ row.hours_mod_sem_1 }}</td>
                              {%if row.mod_code_sem_2|length == 0 %}
                                <td></td>
                              {% else %}
                                <td><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#EditModule{{ row.regularized_mod_code_sem_2 }}Modal{{ workload_id }}">
                                <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"> </button></td>
                              {% endif %}
                              <td title="{{ row.mod_title_sem_2 }}"> <a href="/workload_app/module/{{ row.mod_code_sem_2 }}">{{ row.mod_code_sem_2 }}</a></td>
                              <td> {{ row.hours_mod_sem_2 }}</td>
                            </tr>
                            {% endfor %}
                          </tbody>
                          <thead class="table-dark" >
                            <tr>
                              <th style="background-color: grey;" colspan="2">Total hours sem 1</td>
                              <th style="background-color: grey;">{{ sub_prg_table.total_hours_sem_1 }}</td>
                              <th style="background-color: grey;" colspan="2">Total hours sem 2</td>
                              <th style="background-color: grey;">{{ sub_prg_table.total_hours_sem_2 }}</td>
                            </tr>
                          </thead>
                        </table>
                        </div><!-- hourly table for sub-programmes-->
                      {% endfor %}
                  </div><!-- Container flex-->
                  {% endfor %}<!-- end of loop over programmes offered-->
              {% else %}
                  <p> </p>
              {% endif %}
          </div>
          <hr>



      <!--Modal for new programme-->
      <div class="modal fade" id="NewProgrammeModal" tabindex="-1" role="dialog" aria-labelledby="NewProgrammeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="NewProgrammeModalLabel">Add new programme</h5>
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                  </button>
                </div>
                <form action="{% url 'workload_app:manage_programme_offered' dept_id %}" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                          {{ prog_form.as_p }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
              </form>  

            <div class="modal-header">
                <h5 class="modal-title" id="NewProgrammeModalLabel">Remove existing programme</h5>
            </div>
            <form action="{% url 'workload_app:remove_programme_offered' dept_id %}" method="post">
            {% csrf_token %}
                  <div class="modal-body">
                            {{ remove_prog_form }}
                            <br>
                        <p>Note: all modules within the removed programme will be retained and become not assigned to any programme</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                    <button type="submit" class="btn btn-danger">Remove Selected</button>
                  </div>
            </form>    


          </div><!-- Modal content -->
        </div><!-- Mdal dialogue-->
      </div><!--whole modal--> 

      <!--Modal for new sub-programme-->
      <div class="modal fade" id="NewSubProgrammeModal" tabindex="-1" role="dialog" aria-labelledby="NewSubProgrammeModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
          <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="NewSubProgrammeModalLabel">Add new sub-programme</h5>
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                  </button>
                </div>
                <form action="{% url 'workload_app:manage_subprogramme_offered' dept_id %}" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                          {{ sub_prog_form.as_p }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
              </form>  

            <div class="modal-header">
                <h5 class="modal-title" id="NewSubProgrammeModalLabel">Remove existing sub-programme</h5>
            </div>
            <form action="{% url 'workload_app:remove_subprogramme_offered' dept_id %}" method="post">
            {% csrf_token %}
                  <div class="modal-body">
                            {{ remove_sub_prog_form }}
                            <br>
                        <p>Note: all modules within the removed sub-programme will be retained and become not assigned to any sub-programme</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                    <button type="submit" class="btn btn-danger">Remove Selected</button>
                  </div>
            </form>    


          </div><!-- Modal content -->
        </div><!-- Mdal dialogue-->
      </div><!--whole modal--> 


      {% for prog in prog_offered %}
      <!-- Modals for editing a programme-->
      <div class="modal fade" id="Edit{{ prog.programme_id }}DetailsModal" tabindex="-1" role="dialog" aria-labelledby="Edit{{ prog.programme_id }}DetailsModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
          <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="Edit{{ prog.programme_id }}DetailsModalLabel">Edit existing programme</h5>
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                  </button>
                </div>
                <form action="{% url 'workload_app:manage_programme_offered' dept_id %}" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                          {{ prog.programme_edit_form.as_p }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form> 
            </div><!-- Modal content -->
          </div><!-- Mdal dialogue-->
        </div><!--whole modal-->  
      {% endfor %}



      <!--MODALS FOR EDITING MODS-->
        {% for table in tables_for_year %}
          {% for row in table.table_with_hours.table_rows_with_mods_and_hours %}
              {%if row.mod_code_sem_1|length > 0 %}
                  <div class="modal fade" id="EditModule{{ row.regularized_mod_code_sem_1 }}Modal{{ workload_id }}" tabindex="-1" role="dialog" aria-labelledby="EditModule{{ row.regularized_mod_code_sem_1 }}Modal{{ workload_id }}Label" aria-hidden="true">
                    <div class="modal-dialog  modal-lg" role="document">
                      <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="EditModule{{ row.regularized_mod_code_sem_1 }}Modal{{ workload_id }}Label">Edit module</h5>
                              <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                                <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                              </button>
                            </div>
                            <form action="{% url 'workload_app:add_module' workload_id %}" method="post">
                            {% csrf_token %}
                                <div class="modal-body">
                                      {{ row.edit_form_mod_sem_1.as_p }}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form> 
                        </div><!-- Modal content -->
                      </div><!-- Mdal dialogue-->
                  </div><!--whole modal--> 
              {% endif %}
              {%if row.mod_code_sem_2|length > 0 %}
                  <div class="modal fade" id="EditModule{{ row.regularized_mod_code_sem_2 }}Modal{{ workload_id }}" tabindex="-1" role="dialog" aria-labelledby="EditModule{{ row.regularized_mod_code_sem_2 }}Modal{{ workload_id }}Label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="EditModule{{ row.regularized_mod_code_sem_2 }}Modal{{ workload_id }}Label">Edit module</h5>
                              <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                                <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                              </button>
                            </div>
                            <form action="{% url 'workload_app:add_module' workload_id %}" method="post">
                            {% csrf_token %}
                                <div class="modal-body">
                                    {{ row.edit_form_mod_sem_2.as_p }}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form> 
                        </div><!-- Modal content -->
                      </div><!-- Mdal dialogue-->
                  </div><!--whole modal--> 
              {% endif %}
          {% endfor %}
          {% for row in table.table_with_hours.unused_modules %}
            {%if row.unused_mod_code_sem_1|length > 0  %}
                  <div class="modal fade" id="EditModule{{ row.regularized_unused_mod_code_sem_1 }}Modal{{ workload_id }}" tabindex="-1" role="dialog" aria-labelledby="EditModule{{ row.regularized_unused_mod_code_sem_1 }}Modal{{ workload_id }}Label" aria-hidden="true">
                    <div class="modal-dialog  modal-lg" role="document">
                      <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="EditModule{{ row.regularized_unused_mod_code_sem_1 }}Modal{{ workload_id }}Label">Edit module</h5>
                              <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                                <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                              </button>
                            </div>
                            <form action="{% url 'workload_app:add_module' workload_id %}" method="post">
                            {% csrf_token %}
                                <div class="modal-body">
                                      {{ row.edit_form_unused_mod_sem_1.as_p }}
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                                  <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form> 
                        </div><!-- Modal content -->
                      </div><!-- Mdal dialogue-->
                  </div><!--whole modal--> 
            {% endif %}
            {%if row.unused_mod_code_sem_2|length > 0  %}
                <div class="modal fade" id="EditModule{{ row.regularized_unused_mod_code_sem_2 }}Modal{{ workload_id }}" tabindex="-1" role="dialog" aria-labelledby="EditModule{{ row.regularized_unused_mod_code_sem_2 }}Modal{{ workload_id }}Label" aria-hidden="true">
                  <div class="modal-dialog  modal-lg" role="document">
                    <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="EditModule{{ row.regularized_unused_mod_code_sem_2 }}Modal{{ workload_id }}Label">Edit module</h5>
                            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                              <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                            </button>
                          </div>
                          <form action="{% url 'workload_app:add_module' workload_id %}" method="post">
                          {% csrf_token %}
                              <div class="modal-body">
                                    {{ row.edit_form_unused_mod_sem_2.as_p }}
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                              </div>
                          </form> 
                      </div><!-- Modal content -->
                    </div><!-- Mdal dialogue-->
                </div><!--whole modal--> 
            {% endif %}
          {% endfor %}
        {% endfor %}

          <!-- Manage module type modal -->
          <div class="modal fade" id="ManageModuleTypeModal" tabindex="-1" role="dialog" aria-labelledby="ManageModuleTypeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ManageModuleTypeModalLabel">Add a new module type</h5>
                        <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                          <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                        </button>
                      </div>
                      <form action="{% url 'workload_app:manage_module_type' dept_id%}" method="post">
                      {% csrf_token %}
                          <div class="modal-body">
                                {{ mod_type_form.as_p }}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                          </div>
                    </form>
                    
                    <div class="modal-header">
                        <h5 class="modal-title" id="ManageModuleTypeModalLabel">Remove existing module type</h5>
                    </div>
                      <form action="{% url 'workload_app:remove_module_type' dept_id %}" method="post">
                      {% csrf_token %}
                          <div class="modal-body">
                                    {{ remove_mod_type_form }}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                            <button type="submit" class="btn btn-danger">Remove Selected</button>
                          </div>
                    </form>        
                </div><!-- Modal content -->
              </div><!-- Modal dialogue-->
          </div><!--whole modal--> 
          </div><!--overall container-->
{% include './footer.html' %}
</body>
</html>