<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <meta charset="utf-8">
    <title>Workload Management App</title>
    {% include './headers.html' %}
  </head>
  <body>
  
    {% include './top_bar.html' %}
    <div class="report_nav_button_container">
        <a href="/workload_app/workloads_index" class="btn btn-outline-success" role="button">
            <img src="{% static 'bootstrap-icons-1.5.0/chevron-left.svg' %}" alt="edit"> Back to index of workloads</a>
    </div>
    <div class = "report-title-container">
      Whole faculty report
    </div>
    <div class = "report-select-form-container">
      <form action="{% url 'workload_app:faculty_report' %}" method="post">
        {% csrf_token %}
        {{ faculty_form.as_p }}
        <button type="submit" class="btn btn-primary">Generate report</button>
        
      </form>  
    </div>
  <hr>
    <div class="overall-report-container">
        <div class="report-table-container">
            <table id="FACULTY_TABLE_REPORT"  class="workload_tables table table-striped">
                <thead class="table-dark">
                <tr> 
                    <th colspan="7" style = "background-color: cornflowerblue;"> {{ table_header }}</th>
                </tr>
                <tr> 
                    <th> Department name</th>
                    <th> Department acronym</th>
                    {% for entry in labels_faculty %}
                    <th> {{ entry }} </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for entry in data_for_faculty_table %}
                    <tr>
                    <td>{{ entry.0 }}</td>
                    <td>{{ entry.1 }}</td>
                    <td>{{ entry.2|floatformat }}</td>
                    <td>{{ entry.3|floatformat }}</td>
                    <td>{{ entry.4|floatformat }}</td>
                    <td>{{ entry.5|floatformat }}</td>
                    <td>{{ entry.6|floatformat }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>   
        </div>
    </div>


  {% include './footer.html' %}
  </body>
</html>