<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <meta charset="utf-8">
    <title>Workload Management App</title>
    {% include './headers.html' %}
  </head>
  <body>
  
    {% include './top_bar.html' %}
  <div class="report_nav_button_container">
      <a href="/workload_app/workloads_index" class="btn btn-outline-success" role="button">
          <img src="{% static 'bootstrap-icons-1.5.0/chevron-left.svg' %}" alt="edit"> Back to index of workloads</a>
  </div>
    <div class = "report-title-container">
      Workload overview of {{ lec_name }}
    </div>

  <hr>
  <div class="overall-report-container">
    <div class="report-table-container">
      <table class="workload_tables table table-striped">
        <thead class="table-dark" id="workload_module_table_id">
        <tr> 
            <th> </th>
            <th> </th>
            {% for entry in chart_data.labels_temp_individual %}
            <th> {{ entry }} </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
          {% for entry in summary_wl_table_individual %}
          <tr>
            {% if entry.1|length > 1 %}<!-- Checking module title. If empty, it means this is the row of totals...-->
                <td><a href="/workload_app/module/{{ entry.0 }}">{{ entry.0 }}</a></td><!-- Mod code-->
            {% else %}
                <td>{{ entry.0 }}</td>
            {% endif %}
            <td>{{ entry.1 }}</td>
            <td>{{ entry.2|floatformat }}</td>
            <td>{{ entry.3|floatformat }}</td>
            <td>{{ entry.4|floatformat }}</td>
            <td>{{ entry.5|floatformat }}</td>
            <td>{{ entry.6|floatformat }}</td>
          </tr>
          {% endfor %}
        </tbody>
</table>   
    </div>
    <div class="report-chart-container">
        <canvas id="temporal-individual-staff-chart"></canvas>
        {{ chart_data.labels_temp_individual|json_script:"labels_temp_individual" }}
        {{ chart_data.hrs_temp_individual_delivered|json_script:"hrs_temp_individual_delivered" }}
        {{ chart_data.hrs_temp_individual_expected|json_script:"hrs_temp_individual_expected" }}

        {{ chart_data.hrs_expected_upper_boundary|json_script:"hrs_expected_upper_boundary" }}
        {{ chart_data.hrs_expected_lower_boundary|json_script:"hrs_expected_lower_boundary" }}
        <script src="{% static   'workload_app/temporal_individual_chart.js' %}"></script>

    </div>
  </div>
  {% include './footer.html' %}
  </body>
</html>