<!DOCTYPE html>
<html>
{% load static %}

  <head>
    <meta charset="utf-8">
    <title>Workload Management App</title>
    {% include './headers.html' %}  
    <link rel="stylesheet" type="text/css" href="{% static 'workload_app/workloads_index_style.css' %}">        
  </head>
  <body>
    {% include './top_bar.html' %}



    <br>
    <br>

    <!-- Respective modals are at the bottom-->
    

    <div class ="workload_index_table">
        <table id="TABLE_WORKLOAD_INDEX" class="workload_tables table table-striped ">
            <thead class="table-dark">
            <tr> 
                <th>Workload name</th>
                <th>Dept</th>
                <th> AY </th>
                <th> Status </th>
                <th>Total hours delivered</th>
                <th>Total Department tFTE</th>
                <th>Expected workload per tFTE</th>
            </tr>
            </thead>
            <tbody>
                {% for entry in overall_table %}
                <tr>
                    <td><a href = "/workload_app/scenario_view/{{ entry.wl_id }}">{{ entry.wl_name }}</a></td>
                    <td>{{ entry.dept_acronym }}</td>
                    <td>{{ entry.acad_year }}</td>
                    <td>{{ entry.status }}</td>
                    <td>{{ entry.total_hours_delivered }}</td>
                    <td>{{ entry.total_fte|floatformat }}</td>
                    <td>{{ entry.expected_hrs|floatformat }}</td>
                </tr> 
                {% endfor %}
            </tbody>
        </table>   
    </div>
    
    <div class="add_workload_button_container">
      <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#ManageScenariosModal">
        Add/Remove Workloads...
      </button>
      <a href="/workload_app/faculty_report" class="btn btn-secondary" role="button" style="border:none;">Report for whole faculty...</a>
    </div>

    <hr/>
    <div class = "settings_table_container">
      <div class = "settings_table_item">
            <!--Departments table-->
            <table class="settings_tables table table-striped table-sm">
              <thead class="table-dark table-sm">
              <tr> 
                  <th colspan=4>Departments</th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Acronym</th>
                <th>Faculty</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
  
              {% for entry in department_table %}
              <tr>
                  <td><a href="/workload_app/department/{{ entry.dept_id }}">{{ entry.department_name }}</a></td>       
                  <td>{{ entry.department_acronym }}</td>
                  <td>{{ entry.faculty }}</td>
                  <td><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#{{ entry.no_space_dept_name }}DetailsModal">
                    <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"> </button></td>
              </tr>
              {% endfor %}
              <tr> 
                <td colspan=4>  <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#ManageDepartmentModal">
                  Add/Remove Departments...
                </button>
                </td>
              </tr>
              </tbody>
            </table>
          
      </div>
      <!--Table with the list of faculties-->
        <div class = "settings_table_item">
            <table class="settings_tables table table-striped table-sm">
              <thead class="table-dark table-sm">
              <tr> 
                  <th colspan=3>Faculties</th>
              </tr>
              <tr>
                <th>Name</th>
                <th>Acronym</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>

              {% for entry in faculty_table %}
              <tr>
                  <td><a href="/workload_app/school_page/{{entry.faculty_id}}">{{ entry.faculty_name }}</a></td>       
                  <td>{{ entry.faculty_acronym }}</td>
                  <td><button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#{{ entry.no_space_fac_name }}DetailsModal">
                    <img src="{% static 'bootstrap-icons-1.5.0/pencil-square.svg' %}" alt="edit"> </button></td>
              </tr>
              {% endfor %}
              <tr> 
                <td colspan=3>  <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#ManageFacultiesModal">
                  Add/Remove Faculties...
                </button>
                </td>
              </tr>
              </tbody>
            </table>
        </div>
    </div>    
           <!-- Manage scenario modal -->
        <div class="modal fade" id="ManageScenariosModal" tabindex="-1" role="dialog" aria-labelledby="ManageScenariosModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="ManageScenariosModalLabel">Add a new workload</h5>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                      <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                    </button>
                  </div>
                 <form action="{% url 'workload_app:manage_scenario' %}" method="post">
                 {% csrf_token %}
                      <div class="modal-body">
                            {{ scenario_form }}
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                      </div>
                </form>
                
                <div class="modal-header">
                    <h5 class="modal-title" id="ManageScenariosModalLabel">Remove existing workload</h5>
                </div>
                 <form action="{% url 'workload_app:remove_scenario' %}" method="post">
                 {% csrf_token %}
                      <div class="modal-body">
                                {{ remove_scenario_form }}
                                <br>
                                <p>Please note that all teaching assignments involved in the selected workload will be removed</p>
        
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                        <button type="submit" class="btn btn-primary">Remove Selected</button>
                      </div>
                    </form>        
    
            </div><!-- Modal content -->
          </div><!-- Mdal dialogue-->
        </div><!--whole modal-->
    
    
        <!-- Manage Department modal -->
        <div class="modal fade" id="ManageDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="ManageDepartmentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ManageDepartmentModalLabel">Add a new department</h5>
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                  </button>
                </div>
                <form action="{% url 'workload_app:manage_department' %}" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                          {{ dept_form }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
              </form>
              
              <div class="modal-header">
                  <h5 class="modal-title" id="ManageScenariosModalLabel">Remove existing department</h5>
              </div>
                <form action="{% url 'workload_app:remove_department' %}" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                              {{ remove_dept_form }}
                              <br>
                              <p>Please note that all the workloads associated with the removed department will be assigned a "default" department</p>
      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                      <button type="submit" class="btn btn-primary">Remove Selected</button>
                    </div>
                  </form>        
    
          </div><!-- Modal content -->
        </div><!-- Mdal dialogue-->
      </div><!--whole modal-->


      <!-- Manage Faculties modal -->
      <div class="modal fade" id="ManageFacultiesModal" tabindex="-1" role="dialog" aria-labelledby="ManageFacultiesModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ManageFacultiesModalLabel">Add a new faculty</h5>
                  <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
                    <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
                  </button>
                </div>
                <form action="{% url 'workload_app:manage_faculty' %}" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                          {{ fac_form }}
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                      <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
              </form>
              
              <div class="modal-header">
                  <h5 class="modal-title" id="ManageFacultiesModalLabel">Remove existing faculty</h5>
              </div>
                <form action="{% url 'workload_app:remove_faculty' %}" method="post">
                {% csrf_token %}
                    <div class="modal-body">
                              {{ remove_fac_form }}
                              <br>
                              <p>Please note that all the departments associated with the removed faculty will be assigned a "default" faculty</p>
      
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                      <button type="submit" class="btn btn-primary">Remove Selected</button>
                    </div>
                  </form>        
    
          </div><!-- Modal content -->
        </div><!-- Mdal dialogue-->
      </div><!--whole modal-->



  {% for entry in department_table %}

  <!-- Edit department details modal -->
  <div class="modal fade" id="{{ entry.no_space_dept_name }}DetailsModal" tabindex="-1" role="dialog" aria-labelledby="{{ entry.no_space_dept_name }}DetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ entry.no_space_dept_name }}DetailsModalLabel">Edit details for {{ entry.department_name }}</h5>
          <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
            <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
          </button>
        </div>
       <form action="{% url 'workload_app:manage_department' %}" method="post">
       {% csrf_token %}
              <div class="modal-body">                
                  {{ entry.edit_dept_form.as_p }}
               </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                  <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
          
      </form>
      </div>
    </div>
 </div>

 {% endfor %}


 {% for entry in faculty_table %}

 <!-- Edit faculty details modal -->
 <div class="modal fade" id="{{ entry.no_space_fac_name }}DetailsModal" tabindex="-1" role="dialog" aria-labelledby="{{ entry.no_space_fac_name }}DetailsModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="{{ entry.no_space_fac_name }}DetailsModalLabel">Edit details for {{ entry.fac_name }}</h5>
         <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
           <img src="{% static 'workload_app/x-square-red.svg' %}" alt="close">
         </button>
       </div>
      <form action="{% url 'workload_app:manage_faculty' %}" method="post">
      {% csrf_token %}
             <div class="modal-body">                
                 {{ entry.edit_fac_form.as_p }}
              </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                 <button type="submit" class="btn btn-primary">Save changes</button>
               </div>
     </form>
     </div>
   </div>
</div>

{% endfor %}

{% include './footer.html' %}
  </body>
</html>