div.top_bar_above_image{
    width:100%;
    height: 6.4em;
    background-color:rgb(255, 255, 255);
    text-align: left;
    margin:0;
    padding-top:0.8em;
    padding-bottom:0.8em;
}
div.top_bar_above_image > a > img{
    height:100%;
    object-fit: contain;
    object-position: left center;
    float:left;
}
div.banner_container {
    margin:0;
    padding: 0;
    width:100%;
}
img.banner_image{
    width: 100%;
}

div.header_container{
    text-align:center;
}

img.feature_image{
    width: 60%;
    margin-bottom: 2em;
}

div.feature_text{
    text-align:left;
    color: black;
    font-size: 1.5rem;
}
span.highlight_text{
    color:rgb(25, 174, 97);
}