div.tables-container{
    width: 100%;
    display: flex;
    gap: 50px;
}

@media (max-width: 600px) {
    div.tables-container {
      display: block;
    }
  }

div.individual_table{
    flex: 1;
}

div.overall-department-report-container{
    display: block;
    margin: auto;
    width:100%;
    margin-bottom: 45vmin;
}


div.programme-divider-title{
    display: block;
    width: 100%; 
    color: white; 
    padding: 0.5vmin;
    font-family:'Montserrat', sans-serif;
    font-size: large;
    margin-bottom: 0.5vmin;
}
table.settings_tables > thead > tr > th {
    background-color: #617162;
    text-align: center;
}

table.settings_tables > tbody> tr > td {
    text-align: center;
    vertical-align: middle;
}
