
div.overall-report-container{
    display: block;
    margin: auto;
    width:70%;
    margin-bottom: 45vmin;
}

div.report_nav_button_container{
    margin-left: 1vmin;
}

div.report-select-form-container{

    margin: auto;
    text-align: center;
}

div.report-title-container{
    margin: auto;
    text-align: center;
    font-size: 3vmin;
    font-weight: bold;
    margin-bottom: 1vmin;
}

div.table-container{
    width: 50%;
}

div.overall-department-report-container{
    display: block;
    margin: auto;
    width:100%;
    margin-bottom: 45vmin;
}


div.programme-divider-title{
    display: block;
    width: 100%; 
    color: white; 
    padding: 0.5vmin;
    font-family:'Montserrat', sans-serif;
    font-size: large;
}