   {% load static %}
      
    <p>
            
    <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#ManageProfessorModal">
      Add/Remove lecturers...
    </button>

    <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#ManageModuleModal">
      Add/Remove courses...
    </button>

    <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#ManageAssignmentModal">
      Add/Remove teaching assignments...
    </button>

    <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#BulkProfessorsModal">
      Add multiple professors from file...
    </button>

    <button type="button" class="btn btn-primary background_buttons" data-bs-toggle="modal" data-bs-target="#BulkModuleModal">
      Add multiple courses from file...
    </button>
    </p><!--End of buttons-->
    
    <!-- Bulk add professor modal -->
    <div class="modal fade" id="BulkProfessorsModal" tabindex="-1" role="dialog" aria-labelledby="BulkProfessorsModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="BulkProfessorsModalLabel">Add new lecturers from file</h5>
		            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
		              <img src="{% static 'eduload/x-square-red.svg' %}" alt="close">
		            </button>
              </div>
             <form action="{% url 'eduload:bulk_add_professor' workloadscenario_id %}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
                  <div class="modal-body">
                        {{ bulk_upload_prof_form }}
                  </div>
                  <hr>
                  <div style="margin-left:30px;">
                    The file is expected to have one line per professor. Name is compulsory. After the name, separated by a comma, there can be the fractional appointment.
                    For example:
                    <p>John Smith, 1.0<br/>
                    Paul White, 0.5<br/>
                    ...</p>
                    <br/>
                    <br/>
                    Employment track and service role will be set to the ones with adjustment closest to 1.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
            </form>       
        </div><!-- Modal content -->
      </div><!-- Mdal dialogue-->
    </div><!--whole modal-->

    <!-- Bulk add module modal -->
    <div class="modal fade" id="BulkModuleModal" tabindex="-1" role="dialog" aria-labelledby="BulkModuleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="BulkModuleModalLabel">Add new courses from file</h5>
		            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
		              <img src="{% static 'eduload/x-square-red.svg' %}" alt="close">
		            </button>
              </div>
             <form action="{% url 'eduload:bulk_add_module' workloadscenario_id %}" method="post" enctype="multipart/form-data">
             {% csrf_token %}
                  <div class="modal-body">
                        {{ bulk_upload_module_form }}
                  </div>
                  <hr>
                  <div style="margin-left:30px;">
                    The file is expected to have one line per course. Code is compulsory. After the code, separated by a comma, there can be the course title.
                    For example:
                    <p>EC1101, Principles of economics<br/>
                    EG1321, Engineering design<br/>
                    ...</p>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
            </form>       
        </div><!-- Modal content -->
      </div><!-- Mdal dialogue-->
    </div><!--whole modal-->







    <!-- Manage professor modal -->
    <div class="modal fade" id="ManageProfessorModal" tabindex="-1" role="dialog" aria-labelledby="ManageProfessorModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ManageProfessorModalLabel">Add a new lecturer</h5>
		            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
		              <img src="{% static 'eduload/x-square-red.svg' %}" alt="close">
		            </button>
              </div>
             <form action="{% url 'eduload:add_professor' workloadscenario_id %}" method="post">
             {% csrf_token %}
                  <div class="modal-body">
                        {{ prof_form }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
            </form>
            <div class="modal-header">
                <h5 class="modal-title" id="ManageProfessorModalLabel">Remove assignments for lecturer</h5>
            </div>
             <form action="{% url 'eduload:remove_professor' workloadscenario_id %}" method="post">
             {% csrf_token %}
                  <div class="modal-body">
                            {{ remove_prof_form }}
    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                    <button type="submit" class="btn btn-danger">Remove Selected</button>
                  </div>
            </form>       

        </div><!-- Modal content -->
      </div><!-- Mdal dialogue-->
    </div><!--whole modal-->
    
    
    <!-- Manage module modal -->
    <div class="modal fade" id="ManageModuleModal" tabindex="-1" role="dialog" aria-labelledby="ManageModuleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ManageModuleModalLabel">Add a new course</h5>
		            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
		              <img src="{% static 'eduload/x-square-red.svg' %}" alt="close">
		            </button>
              </div>
             <form action="{% url 'eduload:add_module' workloadscenario_id %}" method="post">
             {% csrf_token %}
                  <div class="modal-body">
                        {{ mod_form.as_p }}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
            </form>
            
            <div class="modal-header">
                <h5 class="modal-title" id="ManageModuleModalLabel">Remove/retire existing course</h5>
            </div>
             <form action="{% url 'eduload:remove_module' workloadscenario_id %}" method="post">
             {% csrf_token %}
                  <div class="modal-body">
                            {{ remove_mod_form }}
                            <br>
                            <p>Please note that all teaching assignments involving the selected course will be removed</p>
    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                    <button type="submit" class="btn btn-danger">Remove Selected</button>
                  </div>
            </form>        
        </div><!-- Modal content -->
      </div><!-- Modal dialogue-->
    </div><!--whole modal-->

    <!-- Manage assignment modal activated by button above here-->
    <div class="modal fade" id="ManageAssignmentModal" tabindex="-1" role="dialog" aria-labelledby="ManageAssignmentModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ManageAssignmentModalLabel">Add assignment</h5>
            <button type="button" class="btn btn-default" data-bs-dismiss="modal" aria-label="Close">
              <img src="{% static 'eduload/x-square-red.svg' %}" alt="close">
            </button>
          </div>
          <form action="{% url 'eduload:add_assignment' workloadscenario_id=workloadscenario_id  %}" method="post">
          {% csrf_token %}
              <div class="modal-body">
                    {{ add_teaching_assignment_form.as_p }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
              </div>
        </form>
        
        <div class="modal-header">
                <h5 class="modal-title" id="ManageAssignmentModalLabel">Remove existing assignment</h5>
        </div>
        <form action="{% url 'eduload:remove_assignment' workloadscenario_id %}" method="post">
          {% csrf_token %}
              <div class="modal-body">
                    {{ remove_teaching_assignment_form }}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel and Close</button>
                <button type="submit" class="btn btn-danger">Remove selected</button>
              </div>
        </form>
        </div><!--modal content-->
      </div><!--modal dialogue-->
    </div><!--Whole modal-->

    
    
    
    